/* font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Chewy&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rock+Salt&display=swap");

/* 

.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}

.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;

  .bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}
*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  height: 100vh;
  background-color: rgb(231, 231, 231);
  font-family: "Roboto", sans-serif;
  position: relative;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* menu */

nav {
  z-index: 5;
  height: 100vh;
  position: absolute;
  width: 100%;
  /* qui si stabilisce la posizione del nav */
  left: -104%;
  /* left: -90%; */
  transition: left 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

nav div:nth-of-type(5) {
  color: rgb(0, 255, 0);
  background-color: orange;
  position: absolute;
  left: 15px;
}
nav div:nth-of-type(5):hover {
  background-color: rgb(0, 255, 0);
}

.panel {
  background-color: rgb(117, 117, 117);
  color: rgb(235, 235, 235);
  text-align: right;
  padding: 10px 15px;
  border-radius: 10px;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.panel__span {
  margin-right: 50px;
  font-style: italic;
}

.panel:hover {
  background-color: yellow;
  color: black;
}

#hamburger {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 2rem;
  color: rgb(117, 117, 117);
  z-index: 50;
}

.modify {
  z-index: 10;
  background-color: rgb(117, 117, 117);
  color: rgb(235, 235, 235);
  padding: 20px;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  /* bottom: -300px; */
  border-top: 10px solid rgb(59, 59, 59);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  transition: bottom 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.ok__button {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #e7e7e7;
  margin: auto;
  border: 2px solid rgba(255, 255, 255, 0);
  transition: width 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.ok__button:hover {
  background-color: gray;
  color: white;
  border: 2px solid white;
  width: 70px;
  height: 70px;
}

.main__close {
  position: absolute;
  top: -50px;
  right: 30px;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  z-index: 30;
}

#shirt__color {
  width: 200px;
  height: 100px;
}

#shirt__icon {
  font-size: 3rem;
  margin-left: 20px;
  color: white;
}

/* maglietta */

section {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
}

/* zona di background della maglietta */

#base__shirt {
  z-index: 2;
  position: absolute;
  top: 100px;
  left: 60px;
  display: inline-block;
  width: 300px;
  border-radius: 10px;
  border: 2px solid rgb(117, 117, 117);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  background-color: rgb(210, 210, 210);
}

#shirt_area {
  width: 140px;
  height: 230px;
  position: absolute;
  z-index: 99;
  top: 160px;
  right: 110px;
  overflow: hidden;
}

/* usare questo campo per posizionare testi e immagini */

#position_relative {
  border: 1px solid red;
  width: 100%;
  height: 100%;
  position: relative;
}

#position_absolute_text {
  position: absolute;
  white-space: pre-wrap; /* Permette il ritorno a capo automatico */
  overflow-wrap: break-word; /* Interrompe le parole lunghe */
  word-break: break-word; /* Aggiuntivo per assicurare la rottura delle parole */
  text-align: center;
  z-index: 30;
  width: 100%;
  top: 0;
  padding-inline: 15px;
}
/* modifica del testo */

.areabox {
  width: 90%;
}

.textarea {
  width: 100%;
  height: 70%;
  display: flex;
}

#insert_text {
  width: 100%;
  height: 100%;
  text-align: center;
  white-space: pre-wrap; /* Permette il ritorno a capo automatico */
  word-wrap: break-word; /* Interrompe le parole lunghe */
  border-radius: 10px;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

#insert_text:focus {
  outline: none;
}

.text_icon {
  width: 10%;
  margin-left: 5px;
}

.icon_mod {
  border-radius: 5px;
  background-color: rgb(41, 41, 41);
  width: 100%;
  height: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon_mod:first-child {
  margin-bottom: 5px;
}
.icon_mod:last-child {
  margin-top: 5px;
}

.font-modify {
  background-color: blue;
  width: 80%;
  height: 50%;
  z-index: 99;
  position: absolute;
  top: 25%;
  right: 10%;
  border-radius: 20px;
  border: 5px solid rgb(41, 41, 41);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
